
<div><%= flash[notice]%></div>
 <ul data-role="listview" data-theme="b" data-inset="true">
     <li data-theme="b"><%= link_to 'Latest News', news_index_path %></li>
     <li data-theme="b"><a href="/aboutus">About Us</a></li>
     <li data-theme="b"><%= link_to 'Our Team', "ourteam"%></li>
     <li data-theme="b"><%= link_to 'Portfolio', "portfolio"%></li>
     <li data-theme="b"><%= link_to 'Connect With Us', new_plan_path %></li>
 </ul>
